:root{
    --iris:#4d5ae5;
    --navy-blue: #2E2F42;
    --green:#31D0AA;
    --slate:#434455;
    --light-slate:#8e8f99;
    --cornflower: #E7E9FC;
    --cloud:#f4f4fd;
}           


/* portfolio */
.body{
    margin: auto;
    max-width: 1440px;
}

.button-port{
    list-style: none;
}

.header-port{
    list-style: none;
    text-decoration: none;
}

.header1-port{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    cursor: pointer;
    text-decoration: none;
}

.header1-port:hover{
    color: #4D5AE5;
}

.header2-port{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    cursor: pointer;
    text-decoration: none;
}

.header2-port:hover{
    color: #4D5AE5;
}

.header3-port{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    cursor: pointer;
    text-decoration: none;
}

.header3-port:hover{
    color: #4D5AE5;
}

.email-port{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: black;
}

.email-port:hover{
    color: #4D5AE5;
}

.number-port{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: black;
}

.number-port:hover{
    color: #4D5AE5;
}

.button-port{
    display: flex;
    justify-content: center;
    padding-top: 96px;
    gap: 24px;
    padding-bottom: 72px;
}

.button1{
    background: #F4F4FD;
    font-family: 'Roboto';
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    width: 69px;
    height: 48px;
    cursor: pointer; 
}

.button2{
    width: 116px;
    height: 48px;
    background: #F4F4FD;
    font-family: 'Roboto';
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer; 
}

.button3{
    width: 78px;
    height: 48px;
    font-family: 'Roboto';
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer; 
}

.button4{
    width: 101px;
    font-family: 'Roboto';
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer; 
}

.button5{
    width: 126px;
    height: 48px;
    font-family: 'Roboto';
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;   
    cursor: pointer; 
}

.button1:hover{
    color: chartreuse;
    background-color: #4D5AE5;
}

.button2:hover{
    color: chartreuse;
    background-color: #4D5AE5;
}

.button3:hover{
    color: chartreuse;
    background-color: #4D5AE5;
}

.button4:hover{
    color: chartreuse;
    background-color: #4D5AE5;
}

.button5:hover{
    color: chartreuse;
    background-color: #4D5AE5;
}

.portfolio-ex1{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 156px;
    gap: 24px;
    padding-bottom: 120px;
}

.example1{
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    padding-bottom: 48px;
}

.example2{
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    padding-bottom: 48px;
}

.example3{
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    padding-bottom: 48px;
}

.font-class-every1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.font-class-every2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

/* index */ 

body{
    color: black;
    font-family: 'sans-serif';
    margin: auto;
}

nav{
    list-style: none;
    display: flex;
    margin-top: 33px;
    margin-left: 77px;
}

.header-bg{
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
    display: flex;
    margin-bottom: 0;
    width: 1440px;
    height: 72px;
}

.web1{
    text-decoration: none;  
    font-weight: 800;
    font-size: 18px;
    line-height: 1.166666666666666;
    text-transform: uppercase;
    color: #2E2F42;  
    margin-left: 156px;
}

.nig{
    font-family: 'Raleway';
}

/* line-height/font-size */

.web-foot{
    font-weight: 800;
    font-size: 18px;
    line-height: 1.1666666666;  
    text-transform: uppercase;    
    color: #4D5AE5;  
    text-decoration: none; 
    font-family: 'Raleway';
}

.general{
    font-weight: 800;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
}

.header{
    list-style: none;
    text-decoration: none;
}

.header1{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto';
    margin-right: 40px;
}

.header1:hover{
    color: #4D5AE5;
}

.header2{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto';
    margin-right: 40px;
}

.header2:hover{
    color: #4D5AE5;
}

.header3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto';
    margin-right: 331px;
}

.header3:hover{
    color: #4D5AE5;
}

.email{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: black;
    margin-right: 40px;
}

.email:hover{
    color: #4D5AE5;
}

.number{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: black;
}

.number:hover{
    color: #4D5AE5;
}
.container-one{
    width: 1128px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}
.zagolovok{
    color: white;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07142857em;  
    font-family: 'Roboto';
    width: 492px;
    height: 120px;
    margin-top: 0px;
}

.h1-main{
    background: #2E2F42;
    padding-top: 192px;
    padding-bottom: 208px;
}

.hidden{
    margin-top: 0px;
    visibility: hidden;
}

.button{
    width: 170px;
    height: 51px;
    background: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    color: white;
    font-family: 'Roboto';
}

.web{
    font-weight: 800;
    cursor: pointer;
    background-color: white;
}

.hover-links:hover{
    color: #4D5AE5;
}

.hover-links{
    text-transform: none;
}

.hidden-title{
    display: none;
}

.button{
    padding: 16px 32px;
    gap: 10px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.main-list{
    list-style: none;
}

.list-style-none{
    list-style: none;
    display: flex;
}

.strategy{
    margin-right: 24px;
    margin-left: 56px;
    justify-content: center;
    margin-top: 47px;
    padding-bottom: 120px;
}

.font-class-every1{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02em;
}

.font-class-every2{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.main{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.last-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.font-class-every3{ 
    font-weight: 400; 
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}

.h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Roboto';
}

.descrip{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    font-family: 'Roboto';
}

.list3{
    list-style: none    ;
}

.section-what-doing{
    margin-bottom: 120px;
}

.what-doing{
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    list-style: none;
    font-family: 'Roboto';
    padding-bottom: 72px;
    text-align: center;
}

.list3{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.what-doing-ex1{
    width: 360px;
    height: 300px;
    list-style: none;
    margin: 0px;
}

.what-doing-ex2{
    width: 360px;
    height: 300px;
    list-style: none;
    margin: 0px;
}

.what-doing-ex3{
    width: 360px;
    height: 300px;
    list-style: none;
    margin: 0px;
}

.list-style-non{
    list-style: none;
    display: flex;
    gap: 24px;
    padding-left: 156px;
}


.our-team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    list-style: none;
    font-family: 'Roboto';
    text-align: center;
    padding-top: 120px;
    padding-bottom: 72px;
}

.our-team-1{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;  
    background-color: #fff;
    font-family: 'Roboto';
    text-align: center;
}

.our-team-2{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px; 
    background-color: #fff;
    font-family: 'Roboto';
    text-align: center;
}

.our-team-3{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    font-family: 'Roboto';
    text-align: center;
}

.our-team-4{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    font-family: 'Roboto';
    background-color: #fff;
    text-align: center;
}

.our-team-bg{
    background-color: #F4F4FD;
    width: 1440px;
    height: 732px;
}

footer{
    background-color: var(--navy-blue);
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 250px;
    padding-top: 100px;
}

.web-logo{
    color: #4D5AE5;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16666666666;
    font-family: 'Raleway';
    padding-left: 156px;
}

.logo-footer{
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
    font-family: 'Raleway';
}
.text-footer{
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    color: var(--cornflower);
    font-family: 'Roboto';
    width: 264px;
    height: 72px;
    padding-left: 156px;    
}