:root{
    --iris:#4d5ae5;
    --navy-blue: #2E2F42;
    --green:#31D0AA;
    --slate:#434455;
    --light-slate:#8e8f99;
    --cornflower: #E7E9FC;
    --cloud:#F4F4FD;
    --clear: #fff;
}           

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}
/* portfolio */

.main-section-port{
    padding: 96px 0 120px 0;
}

.buttons-port-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    font-family: 'Roboto';
    list-style: none;
}

.button-port{
    background-color: #F4F4FD;
    border-radius: 4px;
    height: 48px;
    cursor: pointer; 
    border: 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 24px 12px 24px;
    width: auto;
}

.button-port:hover{
    color: chartreuse;
}

.portfolio-ex1{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
}

.projects{
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 360px;
}

.img-port{
    display: block;
    width: 100%;
    height: auto;
}

.mini-container-port{
    padding: 32px 16px;
}

.font-class-every1{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.font-class-every2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

/* index */ 

body{
    color: black;
    font-family: Roboto, sans-serif;
    background-color: (--clear);
}

.container{
    margin: 0 auto;
    padding: 0 15px;
    width: 1158px;
}

.container1{
    display: flex;
}

.header-bg{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-wrap: nowrap;
}

.top{
    margin: 0;
    text-decoration: none;
    padding: 24px 0;
}

.web-foot{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    color: #4d5ae5;
}

.nig{
    color: ( --navy-blue);
    font-family: 'Raleway'; 
    font-weight: 800;
}

.general{
    list-style: none;
    column-gap: 40px;
    margin-left: 77px;
}

.general2{
    margin-bottom: 0;
    column-gap: 40px;
    list-style: none;
    margin-left: auto;
}

.nav-sites{
    text-decoration: none;
    display: block;
    padding: 24px 0;
    color: #000;
    font-weight: 500;
}

.contacts{
    text-decoration: none;
    color: #434455;
    display: block;
    padding: 24px 0;
}

li>a:hover{
    color: #4d5ae5;
}

.general-title{
    color: white;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07em;  
    font-family: 'Roboto';
    width: 492px;
    margin-top: 0px;
    margin: 0 auto;
    text-align: center;
}

.main-section-1{
    background-image: url('images/office.jpg');
    padding-top: 192px; 
    padding-bottom: 208px;
    width: 1440px;
    height: 603px;  
    margin: 0px auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.button{
    width: 170px;
    height: 51px;
    background: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    color: white;
    font-family: 'Roboto';
    display: block;
    margin: 48px auto 0;
    border: 0;
}

.about-us{
    background-color: #F4F4FD;
    width: 264px;
    height: 112px;
}

.about-us-antena{
    padding: 24px 102.14px;
    margin: 120px 20px 8px 0;
}

.about-us-clock{
    padding: 24px 101.41px;
    margin: 120px 20px 8px 0;
}

.about-us-laptop{
    padding: 31.5px 100px 31.42px 100px;
    margin: 120px 20px 8px 0;
}

.about-us-astronaut{
    padding: 24px 100px;
    margin-right: 0;
    margin-top: 120px;
    margin-bottom: 8px;
}

.web{
    font-weight: 800;
    cursor: pointer;
    background-color: white;
}

.hover-links:hover{
    color: #4D5AE5;
}

.hover-links:focus{
    color: #4D5AE5;
}


.hover-links{
    text-transform: none;
}

.button{
    padding: 16px 32px;
    gap: 10px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.main-list{
    list-style: none;
}

.our-tasks{
    list-style: none;
    display: flex;
    margin: 0 auto;
    gap: 24px;
    padding-top: 0px;
}

.section-3{
    padding: 0px 0px 120px 0px;
}

.strategy{
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.name-of-product{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02em;
}

.what-is-it{
    font-size: 16px;
    letter-spacing: 0.02em;
}

.main{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.last-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.h-for-descrip{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 8px;
}

.descrip{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-top: 0;
}

.list3{
    list-style: none;
}

.section-what-doing{
    padding-bottom: 120px;
}

.what-doing{
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    list-style: none;
    font-family: 'Roboto';
    margin: 0px;
    padding-top: 0px;
    margin-bottom: 72px;
    text-align: center;
}

.list3{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0px;    
}

.what-doing-ex1{
    display: block;
    max-width: 100%;
    height: auto;
}

.what-doing-ex2{
    display: block;
    max-width: 100%;
    height: auto;
}

.what-doing-ex3{
    display: block;
    max-width: 100%;
    height: auto;
}

.list-of-our-people{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}


.our-team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    list-style: none;
    font-family: 'Roboto';
    text-align: center;
    margin-bottom: 72px;
}

.our-team-container{
    padding: 32px 16px 36px 16px;
}

.job{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    font-family: 'Roboto';
}

.our-team-socials{
    margin-top: 12px;
    margin-right: 20px;
    cursor: pointer;
    fill: #4D5AE5;
}

.our-team-socials1{
    padding: 0;
    cursor: pointer;
    fill: #4D5AE5;
}

.name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.our-team-ex{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;  
    background-color: #fff;
    font-family: 'Roboto';
    text-align: center;
}

.our-team-bg{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.our-team-photo{
    display: block;
    max-width: 100%;
    height: auto;
}

.customers{
    margin: 120px auto 72px auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;;
}

.logo{
    box-sizing: border-box;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    padding: 16px 32px;
    width: 168px;
    height: 88px;
    margin-right: 20px;
    margin-bottom: 120px;
    fill: #AFB1B8;
    cursor: pointer;
}

.logo:hover{
    fill: #4D5AE5;
    border: 1px solid #4D5AE5;
    border-radius: 4px;
}

.logo-last:hover{
    fill: #4D5AE5;
    border: 1px solid #4D5AE5;
    border-radius: 4px;
}

.logo-last{
    box-sizing: border-box;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    padding: 16px 32px;
    width: 168px;
    height: 88px;
    margin-bottom: 120px;
    fill: #8E8F99;
}

/* footer */

footer{
    background-color: var(--navy-blue);
    padding: 100px 0px;
}

.last-a{
    gap: 16px;
}

.web-logo{
    color: #4D5AE5;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16666666666;
    font-family: 'Raleway';
    padding-left: 0px;
    text-decoration: none;
}

.logo-footer{
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

.text-footer{
    line-height: 1.5;
    font-size: 16px;
    color: var(--cornflower);
    max-height: 72px; 
    width: 264px;
    margin-top: 16px;
}

.social-media-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.socials-container{
}

.our-team-socials-footer{
    fill: rgba(255, 255, 255, 0.1);
    margin-top: 16px;
    margin-right: 24px;
}

.our-team-socials-footer:hover{
    fill: #31D0AA;
    cursor: pointer;
}